
<div class="container">
    <h2>login Form</h2>
    <div *ngIf="error" class="alert alert-danger">
        <!-- Backend errors -->
        <p>{{error}}</p>
    </div>
    <form [formGroup] = "loginForm" (submit)="login()">
        <!-- form group for email -->
        <div class="form-group mb-4">
            <label for="email">Email address</label>
            <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
        </div>
        <!-- alert for email -->
        <div class="alert alert-danger" *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched">
            <p *ngIf="loginForm.get('email')?.getError('required')">Required</p>
            <p *ngIf="loginForm.get('email')?.getError('email')">Enter a Valid Email</p>
        </div>

        <!-- form group for password -->
        <div class="form-group mb-4">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control" id="password" placeholder="Password">
        </div>
        <!-- alert for password -->
        <div class="alert alert-danger" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
            <p *ngIf="loginForm.get('password')?.getError('required')">Required</p>
            <p *ngIf="loginForm.get('password')?.getError('minlength')">min Length 6</p>
        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>